<h2>User List</h2>

<app-users-filtered-features
  (statusChange)="handleStatusChange($event)"
  (roleChange)="handleRoleChange($event)"
  (itemPerPageChange)="handleItemsPerPageChange($event)"
  (searchChange)="handleSearchChange($event)"
  [status]="status"
  [role]="role"
  [itemPerPage]="itemsPerPage"
  [searchText]="searchText"
></app-users-filtered-features>

<app-users-display-table
  [users]="users"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (userDeleted)="handleUserDelete($event)"
  (userToggleStatus)="handleToggleStatus($event)"
  (userUpdated)="handleUpdateUser($event)"
  (userBulkFieldUpdate)="handleBulkFieldUpdate($event)"
></app-users-display-table>

<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [itemsPerPage]="itemsPerPage"
  (pageChange)="onPageChange($event)"
></app-pagination>
