<section>
  <div class="top-row">
    <button (click)="onAddUser()">Add User</button>

    <form #statusForm="ngForm" class="status-form">
      <span>Status:</span>
      <label>
        <input
          name="status"
          type="radio"
          [value]="true"
          [(ngModel)]="status"
          (change)="onStatusChange()"
        />
        Active
      </label>
      <label>
        <input
          name="status"
          type="radio"
          [value]="false"
          [(ngModel)]="status"
          (change)="onStatusChange()"
        />
        Inactive
      </label>
    </form>

    <form #roleForm="ngForm" class="role-form">
      <label>Role:</label>
      <select name="role" [(ngModel)]="role" (change)="onRoleChange()">
        <option value="default">Default</option>
        <option *ngFor="let role of roles" [value]="role">
          {{ role | titlecase }}
        </option>
      </select>
    </form>

    <form #itemsForm="ngForm" class="items-form">
      <label for="itemsPerPage">Show:</label>
      <select
        name="itemsPerPage"
        [(ngModel)]="itemPerPage"
        (change)="onItemPerPageChange()"
      >
        <option [value]="number" *ngFor="let number of [5, 10, 15, 20]">
          {{ number }}
        </option>
      </select>
    </form>
  </div>

  <div class="bottom-row">
    <form #searchForm="ngForm" class="search-form">
      <input
        type="text"
        name="search"
        placeholder="Search by name, email, or phone..."
        [(ngModel)]="searchText"
        (ngModelChange)="onSearchChange()"
      />
    </form>
  </div>
</section>
