<div class="container mx-auto p-6">
  <section>
    <div>
      <input type="text" placeholder="Search by name, email, or phone"
        class="border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none " [(ngModel)]="searchText"
        (input)="onSearchChange()" />
    </div>

    <div class="flex justify-between my-2 space-x-2 font-medium">
      <div>
        <button
          class="px-3 py-1 bg-blue-500 text-white text-sm rounded-lg shadow hover:bg-blue-600 transition duration-200">Add
          User</button>
      </div>
      <div>
        <label for="usersPerPage" class="text-gray-700 ">Show: </label>
        <select name="usersPerPage" id="usersPerPage"
          class="border border-gray-300 bg-gray-100 rounded-lg px-1 focus:outline-none " [(ngModel)]="usersPerPage"
          (change)="onUsersPerPageChange()">
          <option [value]="5">5</option>
          <option [value]="8">8</option>
          <option [value]="10">10</option>
          <option [value]="15">15</option>
        </select>
      </div>
    </div>
  </section>
  <div class="overflow-x-auto">

    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-3 px-4 text-left">Name</th>
          <th class="py-3 px-4 text-left">Email</th>
          <th class="py-3 px-4 text-left">Phone</th>
          <th class="py-3 px-4 text-left">Date of Birth</th>
          <th class="py-3 px-4 text-left">Address</th>
          <th class="py-3 px-4 text-center">Active</th>
          <th class="py-3 px-4 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b hover:bg-gray-100" *ngFor="let user of pagedUsers">
          <td class="py-3 px-4">{{user.name}}</td>
          <td class="py-3 px-4">{{user.email}}</td>
          <td class="py-3 px-4">{{user.phone}}</td>
          <td class="py-3 px-4">{{user.dob | date}}</td>
          <td class="py-3 px-4">{{user.address |titlecase}}</td>
          <td class="py-3 px-4 text-center">
            <button (click)="onToggleActiveStatus(user.id)">
              <span class="px-4 py-1 text-xs font-semibold rounded-full"
                [ngClass]="user.isActive ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-600'">
                {{ user.isActive ? 'Active' : 'Inactive' }}
              </span>
            </button>
          </td>

          <td class="py-3 px-4 text-center">
            <button
              class="px-3 py-1 bg-blue-600 text-white text-sm rounded-lg shadow hover:bg-blue-700 transition duration-200">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>




    <div class="flex justify-center items-center space-x-2 mt-6">
      <button (click)="goPreviousPage()" [disabled]="currentPage === 1"
        class="px-3 py-1 bg-gray-200 text-gray-700 rounded  transition">
        Previous
      </button>

      <span *ngFor="let page of totalPagesArray">
        <button class="px-3 py-1 rounded transition"
          [ngClass]="page === currentPage ? 'bg-blue-600 text-white' : 'bg-gray-200 text-gray-700 hover:bg-gray-300'"
          (click)="goToPage(page)">
          {{ page }}
        </button>
      </span>

      <button class="px-3 py-1 bg-gray-200 text-gray-700 rounded transition" (click)="goNextPage()"
        [disabled]="currentPage === totalPage"
        [ngClass]="currentPage === totalPage ? 'opacity-50 cursor-not-allowed' : 'hover:bg-gray-300'">
        Next
      </button>
    </div>


  </div>
</div>
